In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType

In [2]:
spark = SparkSession\
    .builder\
    .appName("simple_app")\
    .config("spark.jars", "simple-project_2.11-1.0.jar")\
    .getOrCreate()

In [3]:
udf_name = 'addone'
spark.udf.registerJavaFunction(udf_name, "featurestore.spark.udf.SimpleApp", DoubleType())

In [4]:
l = [('Alice', 1)]
df = spark.createDataFrame(l, ['name', 'age'])

In [7]:
df.createOrReplaceTempView("temp")

X_sp = spark.sql("""
select name, addone(cast(age as double)) as age1
from temp
""")

In [8]:
X_sp.toPandas()

    name  age1
0  Alice   2.0